* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(140deg, #f2d18f 40%, #f4f4f4 40%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    width: 350px;
    background: #fff;
    padding: 25px 28px;
    border-radius: 30px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.12);
}

.card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 22px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    font-weight: 700;
    color: #333;
    font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 13px 14px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: #f8f8f8;
    font-size: 15px;
    transition: 0.2s ease;
}

input:focus {
    background: #fff;
    border-color: #6c8bff;
    box-shadow: 0 0 6px rgba(108, 139, 255, 0.35);
    outline: none;
}

.radio-box {
    margin: 20px 0;
}

.radio-title {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.radio input[type="radio"] {
    transform: scale(1.2);
}

.pay-btn {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(90deg,  #f2d18f,  #f0c46a);
    box-shadow: 0 6px 18px rgba(80, 105, 255, 0.35);
    transition: 0.3s ease;
}

.pay-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(80, 105, 255, 0.45);
}
.error{
    color:red;
}