body {
    font-family: "Inter", Arial, sans-serif;
    margin: 40px;
    color: #000;
    background-color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 25px;
    font-size: 18px;
}

.competences-title {
    font-size: 24px;
    font-weight: 800;
    color:red; 
    margin-top: 40px;
}

ul {
    margin-top: 15px;
    line-height: 1.8;
    font-size: 18px;
}

b {
    font-weight: 700;
}
