* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
}
header {
    width: 100%;
    height: 100px;
    background-color: #efe4b0;
    text-align: center;
    line-height: 100px;
    height: 15vh;
}

nav {
    display:flex;
    flex-direction:column;
    margin:20px 0 0 50px;
    width: 200px;
    gap:10px;
    height: 400px;
    background-color: #b97a57;
    padding-top: 20px;
}

nav a {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    margin: 10px 0;
    padding-left: 10px;
}

nav a:hover {
    color: #ebe2b3;
    cursor:grab;
}

main {
    margin-left: 200px; 
    margin-top: 0;
    background-color: #ffffff;
    min-height: calc(100vh - 200px);
    padding: 20px;
    height:75vh;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #efe4b0;
    text-align: center;
    line-height: 100px;
    clear: both;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.titre {
    font-size: 32px;
    color: #900910;
    text-align: center;
    font-weight: bold;
}

.message {
    font-size: 30px;
    font-family: Verdana, sans-serif;
    color: #83042c;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}
section{
    text-align: center;
    display:grid;
    place-items:center;
    height:100%;

}